### Python ###
__pycache__/

# Entorno
*.env

# Distribution / packaging
.Python
build/
dist/
parts/
sdist/

# Jupyter Notebook
.ipynb_checkpoints

# LangGraph
.langgraph.api
.langgraph_api

# Environments
.envlg
.env
.envjr
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
